# Ignore build output directories
build/
dist/

# Ignore local environment settings and configurations
.DS_Store
*.local
*.env
*.env.local

# Visual Studio specific ignores
.vscode/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# PyCharm specific ignores
.idea/
*.iml
*.iws
out/

# Ignore cache files
__pycache__/
*.pyc
*.pyo

# Ignore sensitive information
secret_keys.json
api_keys.json

# Ignore OS specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# ignore openAi key
myKey.py
